<nav>
  <ul>
    <li><a href="/log4ng">Overview</a></li>
    <li><a href="/log4ng/installing">Installing</a></li>
    <li><a href="/log4ng/configuration">Configuration</a></li>
    <li>Classes
      <ul>
        <li><a href="/log4ng/classes/logservice">LogService</a></li>
        <li><a href="/log4ng/classes/logserviceconfig">LogServiceConfig</a></li>
        <li><a href="/log4ng/classes/loggers">Loggers</a></li>
        <li><a href="/log4ng/classes/appenders">Appenders</a></li>
        <li><a href="/log4ng/classes/levels">Levels</a></li>
      </ul>
    </li>
  </ul>
</nav>
